.fire {
  position: absolute;
  bottom: 4%;
  left: 20%;
  width: 60%;
  padding-bottom: 50%;
}
.fire .back {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 100%;
  background: #ff6234;
  border-radius: 0 75% 75% 75%;
  transform: rotate(45deg);
  animation: fire 2s linear infinite alternate;
  animation-delay: 1s;
}

.fire .medium {
  position: absolute;
  bottom: 5%;
  left: 10%;
  width: 80%;
  padding-bottom: 80%;
  background: #ff7d17;
  border-radius: 0 75% 75% 75%;
  transform: rotate(45deg);
  animation: fire 2s linear infinite alternate;
  animation-delay: 0.5s;
}

.fire .front {
  position: absolute;
  bottom: 10%;
  left: 20%;
  width: 60%;
  padding-bottom: 60%;
  background: #ffb726;
  border-radius: 0 75% 75% 75%;
  transform: rotate(45deg);
  animation: fire 2s linear infinite alternate;
}

.light {
  position: absolute;
  bottom: -5%;
  left: 3%;
  width: 100%;
  padding-bottom: 75%;
  border-radius: 50%;
  background: #522e2a;
  animation: light 2s linear infinite alternate;
}
.light::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 5%;
  width: 90%;
  padding-bottom: 90%;
  border-radius: 50%;
  background: #643627;
}
.light::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 12.5%;
  width: 75%;
  padding-bottom: 75%;
  border-radius: 50%;
  background: #743d25;
}

@keyframes light {
  0% {
    opacity: 1;
    transform: translate(0px) scale(1);
  }
  100% {
    opacity: 0.6;
    transform: translateY(-10px) scaleX(0.9);
  }
}

@keyframes fire {
  0% {
    opacity: 1;
    transform: scale(1) rotate(45deg);
  }
  100% {
    opacity: 0.8;
    transform: scale(0.9) rotate(45deg);
  }
}
